.countdown__container {
  position: relative;
  width: var(--size, 500px);
  height: var(--size, 500px);
}

.countdown__circle {
  transform: rotate(0deg);
}

.countdown__progress {
  stroke: var(--color, #c39fe0);
  stroke-dasharray: var(--circumference);
  stroke-dashoffset: 0;
  fill: none;
  stroke-linecap: round;
}

.countdown__background {
  stroke: var(--background-color, #eee);
  fill: none;
}

.countdown__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(var(--size) / 2 * var(--font-size));
  color: var(--color, #c39fe0);
}